.footer-form {
  margin-top: 20px;
  display: flex;

  &-btn {
    justify-content: center;
    font-family: $base-font-family;
    font-style: $base-font-style;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: $button-text-accent;
    background-color: $accent-color;
    height: 50px;
    min-width: 200px;
    border-radius: 4px;
    border-width: 0;
    padding: 10px 32px;
    margin-left: 12px;
  }

  &-input {
    min-width: 358px;
    background-color: transparent;
    border: 1px solid $foter-input-border-color;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    font-weight: $base-font-weight;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: $footer-form-input-color;
  }
}

.footer-button-svg {
  width: 24px;
  height: 24px;
  fill: $footer-geo-xt-color;
  margin-left: 10px;
}
