.footer {
  background-color: $dark-page-parts-color;

  &-address {
    margin-top: 20px;
  }

  &-address-link {
    font-weight: $base-font-weight;
    font-style: $base-font-style;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
  }

  &-address-geo {
    color: $footer-geo-xt-color;
  }

  &-address-nogeo {
    color: $footer-nogeo-text-color;
  }

  &-container {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: baseline;
  }

  .logo {
    margin-bottom: 20px;
  }

  &-address-list {
    display: flex;
    flex-direction: column;
  }

  &-address-element:not(:last-child) {
    margin-bottom: 9px;
  }

  &-social-container {
    margin-left: 70px;
  }

  &-social-header {
    display: flex;
    flex-direction: column;
    height: 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $hero-header-color;
    justify-content: center;
  }

  &-social-list {
    display: flex;
    margin-top: 20px;
  }

  &-social-element {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $footer-social-bg-color;
    align-items: center;
    justify-content: center;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &-social-svg {
    width: 20px;
    height: 20px;
    fill: $social-links-accent-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .footer-social-link:hover &,
    .footer-social-link:focus & {
      fill: $social-links-accent-color;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &-social-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      background-color: $accent-color;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
