.header {
  padding-top: 23px;
}

.header .overal-container {
  display: flex;
  align-items: center;
}

.aligning {
  display: flex;
  align-items: baseline;
  width: 100%;
}

.header .address {
  margin-left: auto;
}

.navigation {
  display: flex;
  align-items: baseline;
}

.navigation-list {
  display: flex;
}

.navigation-list-element:not(:last-child) {
  margin-right: 50px;
}

.address-list {
  display: flex;
}

.logo {
  font-family: $logo-font-family;
  font-style: $base-font-style;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: $logo-main-text-color;
  margin-right: 92px;
}

.logo-web {
  color: $logo-first-part-text-color;
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: $header-text-color;
  display: flex;
  flex-direction: column;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .navigation-list-link:after,
.studio .navigation-list-link:after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: $accent-color;
  margin-top: 28px;
}

.address {
  display: flex;
  height: 48px;
  align-items: flex-start;
  margin-left: 305px;
}

.address-list-link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: $address-text-color;
  margin-left: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-element {
  display: flex;
  align-items: center;
}

.adresses-env-svg {
  fill: $env_phone_icon_color;
  width: 16px;
  height: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adresses-phone-svg {
  fill: $env_phone_icon_color;
  width: 10px;
  height: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-element:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.address-list-element:hover .address-list-link,
.address-list-link:focus,
.active-page-link {
  color: $accent-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*do not work. Why?*/
.address-list-element:hover .adresses-env-svg,
.address-list-link:focus .adresses-env-svg,
.address-list-element:hover .adresses-phone-svg,
.address-list-link:focus .adresses-phone-svg {
  fill: $accent-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-subfeature {
  border: 1px solid $header-subfeature-color;
}

.address-link-data {
  margin-left: 10px;
}
