*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: $base-font-family;
  font-style: $base-font-style;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: $base-font-style;
}

img {
  display: block;
}

.logo {
  &-light {
    color: $logo-light-color;
  }

  &-dark {
    color: $logo-dark-color;
  }
}
