:root {
  --accent-color: #2196f3;
  --button-text-accent: #ffffff;
  --hero-header-color: #ffffff;
  --button-text-color: #212121;
  --header-text-color: #212121;
  --address-text-color: #757575;
  --h3-text-color: #212121;
  --h2-text-color: #212121;
  --descriptions-text: #757575;
  --footer-geo-xt-color: #ffffff;
  --footer-nogeo-text-color: rgba(255, 255, 255, 0.6);
  --logo-main-text-color: #000000;
  --logo-first-part-text-color: hsl(207, 90%, 54%);
  --dark-page-parts-color: #2f303a;
  --logo-light-color: #ffffff;
  --logo-dark-color: #000000;
  --button-color: #f5f4fa;
  --projects-border-color: #eeeeee;
  --header-subfeature-color: #ececec;
  --advantages-background-color: #f5f4fa;
  --hero-gradient-color: rgba(47, 48, 58, 0.4);
  --customers-border-color: #afb1b8;
  --footer-social-bg-color: rgba(255, 255, 255, 0.1);
  --env_phone_icon_color: #757575;
  --social-links-accent-color: #ffffff;
  --social-links-general-color: #afb1b8;
  --customers-link-default-color: #afb1b8;
  --services-label-color: #ffffff;
  --services-label-background-color: rgba(47, 48, 58, 0.8);
  --project-element-overlay-color: rgba(33, 150, 243, 0.9);
  --close-button-border-color: rgba(0, 0, 0, 0.1);
  --modal-back-color: #ffffff;
  --back-drop-back-color: rgba(0, 0, 0, 0.5);
  --footer-form-input-color: rgba(255, 255, 255, 0.6);
  --foter-input-border-color: rgba(255, 255, 255, 0.3);
  --modal-button-accent-color: #188ce8;
  --modal-texts-color: #757575;
  --modal-form-policy-label-bclr: #212121;
  --modal-form-message-color: rgba(117, 117, 117, 0.5);
  --modal-form-message-bcl: rgba(33, 33, 33, 0.2);
}
