.customers-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-list {
  display: flex;
  margin-top: 50px;

  &-element {
    display: flex;
    width: 170px;
    height: 90px;
    border: 1px solid $customers-border-color;
    border-radius: 4px;
    align-items: center;
    justify-content: center;

    &:not(:last-child) {
      margin-right: 30px;
    }
    &:hover {
      border: 1px solid $accent-color;
    }
  }
}

.customer-link {
  display: flex;
  width: 170px;
  height: 90px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;

  &-size1 {
    width: 44px;
    height: 50px;
  }

  &-size2 {
    width: 40px;
    height: 52px;
  }

  &-size3 {
    width: 41px;
    height: 43px;
  }

  &-size4 {
    width: 80px;
    height: 42px;
  }

  &-size5 {
    width: 59px;
    height: 47px;
  }

  &-size6 {
    width: 88px;
    height: 45px;
  }

  &:focus {
    border: 1px solid $accent-color;
  }
}

.social-class-svg {
  fill: $customers-link-default-color;

  .customer-link:focus &,
  .customer-link:hover & {
    fill: $accent-color;
  }
}
