.customers-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-list-element {
  display: flex;
  width: 170px;
  height: 90px;
  border: 1px solid var(--customers-border-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.customers-list-element:not(:last-child) {
  margin-right: 30px;
}

.customers-list {
  display: flex;
  margin-top: 50px;
}

.customer-link {
  display: flex;
  width: 170px;
  height: 90px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.customer-link-size1 {
  width: 44px;
  height: 50px;
}

.customer-link-size2 {
  width: 40px;
  height: 52px;
}

.customer-link-size3 {
  width: 41px;
  height: 43px;
}

.customer-link-size4 {
  width: 80px;
  height: 42px;
}

.customer-link-size5 {
  width: 59px;
  height: 47px;
}

.customer-link-size6 {
  width: 88px;
  height: 45px;
}

.social-class-svg {
  fill: var(--customers-link-default-color);
}

.customer-link:focus .social-class-svg,
.customer-link:hover .social-class-svg {
  fill: var(--accent-color);
}

.customer-link:focus,
.customers-list-element:hover {
  border: 1px solid var(--accent-color);
}
