.services-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.services-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--h2-text-color);
}

/*.services-container {
  display: flex;
  flex-direction: column;
  padding-top: 94px;
}*/

.services-list {
  display: flex;
  margin-top: 50px;
}

.services-list-element:not(:last-child) {
  margin-right: 30px;
}

.services-list-element {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.services-label {
  position: absolute;
  width: 100%;
  height: 70px;
  background: var(--services-label-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-label-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--services-label-color);
}
